# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
htmlcov/
coverage.xml
.coverage
pytest.ini

# Environment
venv/
.env

# IDEs
.vscode/
.idea/

# Pytest
.pytest_cache/
*.cover
*.coverage

# macOS & Windows
.DS_Store
Thumbs.db
